#vehiculos-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    

    div{
        background-image: url("https://cdn.auth0.com/website/gartner/bg-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 200%;
        background-position-x: -180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        min-height: 150px;
        // border: 2px solid #f0f2f5;
        border-radius: 8px;
        cursor: pointer;
        
        
    }
    
    div:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f0f2f5;
    border-radius: 8px;
}


.cls-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    div {
        display: flex;
        flex-direction: column;

        
        label{
            font-weight: 600;
        }


        input {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-variant: tabular-nums;
            list-style: none;
            font-feature-settings: 'tnum', "tnum";
            position: relative;
            display: inline-block;
            width: 100%;
            min-width: 0;
            padding: 4px 11px;
            color: rgba(0, 0, 0, 0.85);
            font-size: 14px;
            background-color: #fff;
            background-image: none;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            transition: all 0.3s;
        }

        input:hover {
            border-color: #40a9ff;
        }

        input:focus {
            border-color: #40a9ff;
            box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
            border-right-width: 1px;
            outline: 0;
        }
    }
}