
      .login-form {
        max-width: 500px;
        padding: 3em;
        border-radius: 3px;
        border: 1px solid gray;

      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }
    
      .form-container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;


      }