
<div class="container">

    <div class="card">
        <h3 class="crd-titulo">Usuarios registrados</h3>
        <p class="crd-total">{{ totalU.count }}</p>
    </div>

    <div class="card">
        <h3 class="crd-titulo">Vehículos registrados</h3>
        <p class="crd-total">{{ totalV.count }}</p>
    </div>
    
    <div class="card">
        <h3 class="crd-titulo">Total Mecánicos</h3>
        <p class="crd-total"></p>
    </div>
    
    <div class="card">
        <h3 class="crd-titulo">Solicitudes de revisión</h3>
        <p class="crd-total"></p>
    </div>



</div>