
.action{
    background-color: #0082ff;
    border-radius: 2px;
    padding: .3em;
    color: white;
    font-weight: 500;
}

.action:nth-child(1){
    background-color: red;
}

.buscador-conatiner{
    display: flex;
    justify-content: space-between;
}

.buscador{
    width: 300px;
}
