<div class="form-container">

    <div class="form">

        <div>
            <label for="">Documento identidad</label>
            <input type="text">
        </div>
        <div>
            <label for="">Nombre</label>
            <input type="text">
        </div>
        <div>
            <label for="">Apellido</label>
            <input type="text">
        </div>
        <div>
            <label for="">Teléfono</label>
            <input type="text">
        </div>
        <div>
            <label for="">Correo</label>
            <input type="text">
        </div>
        <div>
            <label for="">contraseña</label>
            <input type="text">
        </div>
        <div>
            <input type="submit" value="Registrarse">
        </div>
    </div>
</div>