
.action{
    background-color: #0082ff;
    border-radius: 2px;
    padding: .3em;
    color: white;
    font-weight: 500;
}

.action:nth-child(1){
    background-color: red;
}

.buscador-conatiner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.buscador{
    width: 300px;
}


.options{
    display: flex;
    flex-direction: row;
    gap: 20px;
}